    <% content_for :title, "Admin Login Page" %>
    <section >
        <div class="container">
            <div class="row">
                <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
                <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
                <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <%= image_tag "up.png", class: "img-responsive"%>
                    <h3>Premium Support Company</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                       Nulla pretium lectus vel justo iaculis blandit.
                       Nulla facilisi. In hac habitasse platea dictumst.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <%= image_tag "moniter.png", class: "img-responsive img-max-width"%>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h3>Admin Login </h3>
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                          <div class="field form-group">
                            <%= f.label :email %><br />
                            <%= f.email_field :email, autofocus: true, class: 'form-control', :required => true, :placeholder => "Please enter email"%>
                          </div>

                          <div class="field form-group">
                            <%= f.label :password %><br />
                            <%= f.password_field :password, autocomplete: "off", class: 'form-control', :required => true, :placeholder => "Please enter password" %>
                          </div>

                          <% if devise_mapping.rememberable? -%>
                            <div class="field form-group">
                              <%= f.check_box :remember_me %>
                              <%= f.label :remember_me %>
                            </div>
                          <% end -%>

                          <div class="actions form-group">
                            <%= f.submit "Log in", :class => "btn btn-success" %>
                          </div>
                    <% end %>
                </div>
            </div>

        </div>
    </section>